{% extends 'base.html.twig' %}

{% block body %}

    {% include 'menu.html.twig' %}
    <div class="container">
        <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <img style= "width: 400px" src="{{ data['thumbnail']['path']  }}.{{ data['thumbnail']['extension'] }}">
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <p>Name : {{ data['name'] }}</p>
            <p>Description : {{ data['description'] }} </p>
            <p>Nombre de comics : {{ data['comics']['available'] }}</p>
            <p>Trois premiers comics :
            {% for comic in data['comics']['items'] |slice(0, 3) %}
                <ul>
                    <li>
                        {{ comic['name'] }}
                    </li>
                </ul>
            {% endfor %}
            </p>
        </div>
        </div>
    </div>
{% endblock %}